<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Demo0702</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.neuedu.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterSert</display-name>
    <servlet-name>RegisterSert</servlet-name>
    <servlet-class>com.neuedu.controller.RegisterSert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterSert</servlet-name>
    <url-pattern>/RegisterSert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateLoginServlet</display-name>
    <servlet-name>UpdateLoginServlet</servlet-name>
    <servlet-class>com.neuedu.controller.UpdateLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateLoginServlet</servlet-name>
    <url-pattern>/UpdateLoginServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>EncodingFilter</display-name>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.neuedu.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatepwServlet</display-name>
    <servlet-name>UpdatepwServlet</servlet-name>
    <servlet-class>com.neuedu.controller.UpdatepwServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatepwServlet</servlet-name>
    <url-pattern>/UpdatepwServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostMsgServlet</display-name>
    <servlet-name>PostMsgServlet</servlet-name>
    <servlet-class>com.neuedu.controller.PostMsgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostMsgServlet</servlet-name>
    <url-pattern>/PostMsgServlet</url-pattern>
  </servlet-mapping>
</web-app>